Lab1/picture
Lab3/__pycache__
Lab3/dataset/__pycache__
Lab3/model/__pycache__
Lab4/dataset/__pycache__
Lab4/model/__pycache__
Lab4/__pycache__
Lab5/dataset/__pycache__
Lab5/model/__pycache__
Lab5/__pycache__
Lab3/wandb
Lab3/artifacts
Lab4/wandb
Lab4/artifacts
Lab5/wandb
Lab5/artifacts