Lab1/picture
Lab3/__pycache__
Lab3/dataset/__pycache__
Lab3/model/__pycache__
Lab4/dataset/__pycache__
Lab4/model/__pycache__
Lab4/__pycache__
Lab5/dataset/__pycache__
Lab5/model/__pycache__
Lab5/__pycache__
Lab3/wandb
Lab3/artifacts
Lab4/wandb
Lab4/artifacts
Lab5/wandb
Lab5/artifacts
Lab7/__pycache__
Lab7/dataset/__pycache__
Lab7/dataset/iCLEVR/__pycache__
Lab7/dataset/CelebAHQ/__pycache__
Lab7/wandb
Lab7/weight
Lab7/predict_result
Lab7/model/__pycache__
Lab7/dataset/CelebAHQ/data/
Lab7/dataset/iCLEVR/data/